<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlAgilityPack" version="1.4.6" targetFramework="net45" />
  <package id="Moq" version="4.2.1312.1622" targetFramework="net45" />
  <package id="NUnit" version="2.6.3" targetFramework="net45" />
  <package id="NUnitTestAdapter" version="1.0" targetFramework="net45" />
  <package id="Selenium.RC" version="2.42.0" targetFramework="net45" />
  <package id="Selenium.Support" version="2.42.0" targetFramework="net45" />
  <package id="Selenium.WebDriver" version="2.42.0" targetFramework="net45" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.10.0.0" targetFramework="net45" />
  <package id="Selenium.Webdriver.Domify" version="2.1.0" targetFramework="net45" />
  <package id="Selenium.WebDriverBackedSelenium" version="2.42.0" targetFramework="net45" />
  <package id="SpecFlow" version="1.9.0" targetFramework="net45" />
  <package id="SpecFlow.NUnit" version="1.1.1" targetFramework="net45" />
  <package id="SpecFlow.NUnit.Runners" version="1.0.0" targetFramework="net45" />
</packages>