@{
    ViewBag.Title = "FizzBuzz Game UI";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <header>
        <h1 style="margin: 20px auto; text-align:center;"> FizzBuzz Game UI</h1>
    </header>

    <div class="col-lg-6">
        <div class="input-group" style="margin: 50px;">
            <input type="text" ng-model="FBInput" class="form-control">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="button">Wylicz!</button>
            </span>
        </div>
    </div>

    <div class="col-lg-6" style="margin:30px auto;">
        <ol>
            <li ng-repeat="number in ZwrocWyniki(FBInput) | limitTo: 10">{{ number }}</li>
        </ol>
    </div>
</div>

@section Scripts
{
    <script src="~/Scripts/app/ang.js"></script>
}